.header {
  text-align: center;
}

.navbar {
  top: 0;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  /* width: 90%; */
  position: sticky;
  position: -webkit-sticky; /* Safari */
  list-style-type: none;
  background-color: #333;
}

.navbar li {
  /* float: left; */
  display: inline-block;
  width: 33.333333%;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.active {
  background-color: #475ab1;
}
